<div class="wrap" *ngFor="let page of pages; let i = index; trackBy:newPage">
  <div class="content" id='con'>
    <div class="row">
      <div class="span6">
        <h1 class="logo">
          {{cv?.name.concat(' ', cv?.surname)}}
          <small>
            {{cv?.description}}
          </small>
        </h1>
      </div>
      <div class="span3">
        <div class="social-header hide-on-zoom">
          <a *ngFor="let social of cv?.socialLink" href="{{social.link}}">
              <i class="fa fa-{{social.icon}} fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="span3">
        <ul class="contact-info hide-on-zoom fixed">
          <li>
            E-mail:
            {{cv?.email}}
          </li>
          <li>
            Website:
            <a href="#">
              <a href="http://www.{{cv?.website}}">{{cv?.website}}</a>
            </a>
          </li>
          <li *ngFor="let contact of cv?.contactLink">
              {{contact.name}}
            <strong>
              <a href="{{contact.link}}">{{contact.label}}</a>
            </strong>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title first">
          Esperienze lavorative
        </h3>
      </div>
    </div>
    <div class="row cv-item" *ngFor="let workExperience of cv?.workExperiences">
      <div class="span3 cv-item-description">
        <h6>
          {{workExperience.company}}
        </h6>
        <p>
          {{workExperience.city}}<br />
          <span class="mute">
            {{workExperience.dateFromTo}}
          </span>
        </p>
      </div>
      <div class="span9 cv-item-details">
        <h4>
          {{workExperience.title}}
        </h4>
        <p class="last">
          {{workExperience.description}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title">
          Istruzione
        </h3>
      </div>
    </div>
    <div class="row cv-item" *ngFor="let education of cv?.education; trackBy:newElement">
        <div class="span3 cv-item-description">
          <h6>
            {{education.institute}}
          </h6>
          <p>
            {{education.cityOfInstitute}}<br />
            <span class="mute">
              {{education.dateFromTo}}
            </span>
          </p>
        </div>
        <div class="span9 cv-item-details">
          <h4>
            {{education.title}}
          </h4>
          <p class="last">
            {{education.description}}
          </p>
        </div>
    </div>
  </div>
</div>  