<div class="wrap" *ngFor="let page of pages; let i = index; last as isLast">
  <div class="content" id="{{ 'con' + i }}">
    <div class="row row-header">
      <div class="span6">
        <h1 class="logo">
          {{cv?.name.concat(' ', cv?.surname)}}
          <small>
            {{cv?.description}}
          </small>
        </h1>
      </div>
      <div class="span3">
        <div class="social-header hide-on-zoom">
          <ng-container *ngFor="let social of cv?.socialLink">
              <a href="{{social.link}}" class="social" *ngIf="social.showInHeader != false">
                <i class="fa fa-{{social.icon}} fa-2x" aria-hidden="true"></i>
              </a>
          </ng-container>
        </div>
      </div>
      <div class="span3 header">
        <ul class="contact-info hide-on-zoom fixed">
          <li>
            E-mail:
            {{cv?.email}}
          </li>
          <li>
            Website:
            <a href="#">
              <a href="http://www.{{cv?.website}}">{{cv?.website}}</a>
            </a>
          </li>
          <li *ngFor="let contact of cv?.contactLink">
            {{contact.name}}
            <strong>
              <a href="{{contact.link}}">{{contact.label}}</a>
            </strong>
          </li>
        </ul>
      </div>
    </div>
    <div class="hr hide-on-phone"></div>
    <ng-container *ngIf="workExperiences[i]?.length > 0">
      <div class="row" *ngIf="workExperiences[i] && (workExperiences | checkArrayLength : i)">
        <div class="span9">
          <h3 class="cv-section-title">
            Esperienze lavorative
          </h3>
        </div>
      </div>
      <app-work-experience *ngFor="let workExperience of workExperiences[i]" [workExperience]="workExperience"
        [pageNumber]="pageNumber" (newPage)="doNewPage()"></app-work-experience>
    </ng-container>
    <ng-container *ngIf="educations[i]?.length > 0">
      <div class="row" *ngIf="educations[i] && (educations | checkArrayLength : i)">
        <div class="span9">
          <h3 class="cv-section-title">
            Istruzione
          </h3>
        </div>
      </div>
      <app-education *ngFor="let education of educations[i]" [education]="education" [pageNumber]="pageNumber"
        (newPage)="doNewPage()"></app-education>
    </ng-container>
    <ng-container *ngIf="knowledges[i]?.length > 0">
      <div class="row" *ngIf="knowledges[i] && (knowledges | checkArrayLength : i)">
        <div class="span9">
          <h3 class="cv-section-title">
            Conoscenze
          </h3>
        </div>
      </div>
      <app-knowledge [knowledges]="knowledges[i]" [pageNumber]="pageNumber" (newPage)="doNewPage()"></app-knowledge>
    </ng-container>
    <ng-container *ngIf="cms[i]?.length > 0">
      <div class="row" *ngIf="cms[i] && (cms | checkArrayLength : i)">
        <div class="span9">
          <h3 class="cv-section-title">
            CMS
          </h3>
        </div>
      </div>
      <app-cms [cms]="cms[i]" [pageNumber]="pageNumber" (newPage)="doNewPage()"></app-cms>
    </ng-container>
    <ng-container *ngIf="languages[i]?.length > 0">
      <div class="row" *ngIf="languages[i] && (languages | checkArrayLength : i)">
        <div class="span9">
          <h3 class="cv-section-title">
            Lingue
          </h3>
        </div>
      </div>
      <app-language [languages]="languages[i]" [pageNumber]="pageNumber" (newPage)="doNewPage()"></app-language>
    </ng-container>
    <ng-container *ngIf="skillsAndCompetences[i]?.length > 0">
      <div class="row" *ngIf="skillsAndCompetences[i] && (skillsAndCompetences | checkArrayLength : i)">
        <div class="span9">
          <h3 class="cv-section-title">
            Capacit&agrave; e competenze
          </h3>
        </div>
      </div>
      <app-skills-and-competences *ngFor="let skillsAndCompetence of skillsAndCompetences[i]"
        [skillsAndCompetence]="skillsAndCompetence" [pageNumber]="pageNumber" (newPage)="doNewPage()">
      </app-skills-and-competences>
    </ng-container>
    <ng-container *ngIf="interestsAndHobbies[i]?.length > 0">
      <div class="row" *ngIf="interestsAndHobbies[i] && (interestsAndHobbies | checkArrayLength : i)">
        <div class="span9">
          <h3 class="cv-section-title">
            Interessi & Hobbies
          </h3>
        </div>
      </div>
      <app-interests-and-hobbies [interestsAndHobbies]="interestsAndHobbies[i]" [pageNumber]="pageNumber"
        (newPage)="doNewPage()"></app-interests-and-hobbies>
    </ng-container>
    <!--<div class="row" *ngIf="portfolio[i]?.length > 0">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title">
          Portfolio
        </h3>
      </div>
    </div>
    <app-portfolio [portfolios]="portfolio[i]" [pageNumber]="pageNumber" (newPage)="doNewPage()"></app-portfolio>-->
    <ng-container *ngIf="contacts[i]?.length > 0">
      <div class="row" *ngIf="contacts | checkArrayLength : i" class="hide-on-phone">
        <div class="span9">
          <h3 class="cv-section-title">
            Contatti
          </h3>
        </div>
      </div>
      <app-contact [contacts]="contacts[i]" [pageNumber]="pageNumber" [nameSurname]="cv?.name.concat(' ', cv?.surname)"
        (newPage)="doNewPage()"></app-contact>
    </ng-container>
    <ng-container>
      <div class="social-footer" *ngIf="isLast">
        <a *ngFor="let socialLink of cv?.socialLink" href="{{socialLink.link}}" class="sf"><i class="fa fa-{{socialLink.icon}} fa-2x" aria-hidden="true"></i></a>
      </div>
    </ng-container>
  </div>
</div>