<div class="wrap" *ngFor="let page of pages; let i = index">
  <div class="content" id="{{ 'con' + i }}">
    <div class="row">
      <div class="span6">
        <h1 class="logo">
          {{cv?.name.concat(' ', cv?.surname)}}
          <small>
            {{cv?.description}}
          </small>
        </h1>
      </div>
      <div class="span3">
        <div class="social-header hide-on-zoom">
          <a *ngFor="let social of cv?.socialLink" href="{{social.link}}">
            <i class="fa fa-{{social.icon}} fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="span3">
        <ul class="contact-info hide-on-zoom fixed">
          <li>
            E-mail:
            {{cv?.email}}
          </li>
          <li>
            Website:
            <a href="#">
              <a href="http://www.{{cv?.website}}">{{cv?.website}}</a>
            </a>
          </li>
          <li *ngFor="let contact of cv?.contactLink">
            {{contact.name}}
            <strong>
              <a href="{{contact.link}}">{{contact.label}}</a>
            </strong>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" *ngIf="workExperiences[i]?.length > 0">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title">
          Esperienze lavorative
        </h3>
      </div>
    </div>
    <app-work-experience *ngFor="let workExperience of workExperiences[i]" [workExperience]="workExperience"
      [pageNumber]="pageNumber" (newPage)="doNewPage()"></app-work-experience>
    <div class="row" *ngIf="educations[i]?.length > 0">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title">
          Istruzione
        </h3>
      </div>
    </div>
    <app-education *ngFor="let education of educations[i]" [education]="education" [pageNumber]="pageNumber"
      (newPage)="doNewPage()"></app-education>
    <div class="row" *ngIf="knowledges[i]?.length > 0">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title">
          Conoscenze
        </h3>
      </div>
    </div>
    <app-knowledge [knowledges]="knowledges[i]" [pageNumber]="pageNumber" (newPage)="doNewPage()"></app-knowledge>
    <div class="row" *ngIf="cms[i]?.length > 0">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title">
          CMS
        </h3>
      </div>
    </div>
    <app-cms [cms]="cms[i]" [pageNumber]="pageNumber" (newPage)="doNewPage()"></app-cms>
    <div class="row" *ngIf="languages[i]?.length > 0">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title">
          Lingue
        </h3>
      </div>
    </div>
    <app-language [languages]="languages[i]" [pageNumber]="pageNumber" (newPage)="doNewPage()"></app-language>
    <div class="row" *ngIf="skillsAndCompetences[i]?.length > 0">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title">
          Capacit&agrave; e competenze
        </h3>
      </div>
    </div>
    <app-skills-and-competences *ngFor="let skillsAndCompetence of skillsAndCompetences[i]"
      [skillsAndCompetence]="skillsAndCompetence" [pageNumber]="pageNumber" (newPage)="doNewPage()">
    </app-skills-and-competences>
    <div class="row" *ngIf="interestsAndHobbies[i]?.length > 0">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title">
          Interessi & Hobbies
        </h3>
      </div>
    </div>
    <app-interests-and-hobbies [interestsAndHobbies]="interestsAndHobbies[i]" [pageNumber]="pageNumber" (newPage)="doNewPage()"></app-interests-and-hobbies>
    <!--<div class="row" *ngIf="portfolio[i]?.length > 0">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title">
          Portfolio
        </h3>
      </div>
    </div>
    <app-portfolio [portfolios]="portfolio[i]" [pageNumber]="pageNumber" (newPage)="doNewPage()"></app-portfolio>-->
    <div class="row" *ngIf="contacts[i]?.length > 0">
      <div class="span3">&nbsp;</div>
      <div class="span9">
        <h3 class="cv-section-title">
          Contatti
        </h3>
      </div>
    </div>
    <app-contact [contacts]="contacts[i]" [pageNumber]="pageNumber" [nameSurname]="cv.name.concat(' ', cv.surname)" (newPage)="doNewPage()"></app-contact>
  </div>
</div>